@keyframes slide-right {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-slide-right {
  animation: slide-right 200s linear infinite;
  animation-play-state: running;
}
.animate-slide-left {
  animation: slide-left 200s linear infinite;
  animation-play-state: running;
}
.pause-animation:hover {
  animation-play-state: paused !important;
}
.nav-item {
  transition: all 0.5s ease;
}
.dropdown {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.4s;
}

.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0s;
}
