<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pricing | ChatGPT</title>
    <link rel="shortcut icon" href="/images/favicon_io/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black font-[inter] selection:bg-white selection:text-black">
    <!-- Navbar -->
    <nav>
      <div class="navbar flex justify-between items-center h-12 bg-black px-4 sm:px-4 md:px-16 lg:px-36">
        <!-- Left Side with responsiveness -->

        <div class="leftside flex items-center space-x-2">
          <img src="/images/logo.png" alt="Open AI logo" class="w-8 h-8" />
          <h1 class="leftHeading text-white text-lg font-medium">OpenAI</h1>
        </div>

        <div class="flex items-center">
          <button id="menuToggle" class="block sm:hidden text-white focus:outline-none">
            <span class="block w-6 h-0.5 bg-white mb-1 transition-transform duration-300"></span>
            <span class="block w-6 h-0.5 bg-white mb-1 transition-transform duration-300"></span>
            <span class="block w-6 h-0.5 bg-white transition-transform duration-300"></span>
          </button>

          <div
            id="menuItems"
            class="hidden h-[90vh] duration-200 transition-opacity sm:flex flex-col sm:flex-row items-center backdrop-blur-2xl sm:backdrop-blur-0 sm:bg-transparent w-full sm:w-full space-y-4 sm:space-y-0 sm:space-x-8 pr-4 sm:pr-0 absolute sm:static top-12 left-0 sm:top-0"
          >
            <ul
              class="flex flex-col sm:flex-row sm:space-x-8 space-y-4 sm:space-y-0 text-white justify-start items-start w-full p-12 font-semibold pr-40 sm:translate-y-0 text-sm"
            >
              <li id="linkPrimary" class="nav-item hover:cursor-pointer transition-colors duration-500 text-white group relative">
                Research
                <div
                  id="dropDownLinkPrimary"
                  class="dropdown opacity-0 cursor-default transform scale-y-0 bg-[#222] origin-top top-24 left-0 sm:-left-[90%] fixed pt-8 px-36 backdrop-blur-3xl h-[calc(100vh-9vh)] group-hover:opacity-100 group-hover:scale-y-100 transition-all duration-700 ease-in-out z-10 w-screen overflow-x-hidden flex flex-col"
                >
                  <section>
                    <div class="flex flex-row justify-between gap-6 pt-4 text-white text-sm font-[inter]">
                      <div class="flex flex-col space-y-4">
                        <h1 class="text-[#999]">Our Research</h1>
                        <ul class="space-y-4 text-md">
                          <li><a href="">Overview</a></li>
                          <li><a href="">Index</a></li>
                        </ul>
                      </div>

                      <div class="flex flex-col space-y-4">
                        <h1 class="text-[#999]">Latest Achievements</h1>
                        <ul class="space-y-4 text-md">
                          <li><a href="">OpenAI o1</a></li>
                          <li><a href="">OpenAI o1-mini</a></li>
                          <li><a href="">GPT-4</a></li>
                          <li><a href="">GPT-4o mini</a></li>
                          <li><a href="">DALL·E 3</a></li>
                          <li><a href="">Sora</a></li>
                        </ul>
                      </div>
                      <div class="flex flex-col space-y-4 w-52 h-24">
                        <img src="/images/o1-research.webp" class="rounded-lg object-cover size-full" alt="OpenAI o1 Research Image" />
                        <h3>OpenAI o1 Hub</h3>
                      </div>
                    </div>
                  </section>
                </div>
              </li>

              <li id="linkSecondary" class="nav-item hover:cursor-pointer transition-colors duration-500 text-white group relative">
                Products
                <div
                  id="dropDownLinkSecondary"
                  class="dropdown opacity-0 cursor-default transform scale-y-0 bg-[#222] origin-top top-24 rounded-lg -left-[90%] fixed pt-8 px-36 backdrop-blur-3xl h-[calc(100vh-9vh)] group-hover:opacity-100 group-hover:scale-y-100 transition-all duration-700 ease-in-out z-10 w-screen overflow-x-hidden flex flex-col"
                >
                  <section>
                    <div class="flex flex-row justify-between gap-6 pt-4 text-white text-sm font-[inter] h-auto">
                      <div class="flex flex-col space-y-4">
                        <h1 class="text-[#999]">ChatGPT</h1>
                        <ul class="space-y-4 text-md">
                          <li><a href="">For Everyone</a></li>
                          <li><a href="">For Teams</a></li>
                          <li><a href="components/enterprise/enterprise.html">For Enterprises</a></li>
                          <li class="flex flex-row items-center">
                            <a href="">ChatGPT Login</a><img src="/images/rightUpIcon.png" class="w-4 h-4" alt="Icon" />
                          </li>
                          <li><a href="">Download</a></li>
                        </ul>
                      </div>
                      <div class="flex flex-col space-y-4">
                        <h1 class="text-[#999]">API</h1>
                        <ul class="space-y-4 text-md">
                          <li><a href="">Platform Overview</a></li>
                          <li><a href="">Pricing</a></li>
                          <li class="flex flex-row items-center">
                            <a href="">Documentation</a>
                            <img src="/images/rightUpIcon.png" class="w-4 h-4" alt="Icon" />
                          </li>
                          <li class="flex flex-row items-center">
                            <a href="">API login</a> <img src="/images/rightUpIcon.png" class="w-4 h-4" alt="Icon" />
                          </li>
                        </ul>
                      </div>
                      <div class="flex flex-col space-y-4">
                        <h1 class="text-[#999]">Sora</h1>
                        <ul class="space-y-4 text-md">
                          <li><a href="">Overview</a></li>
                          <li><a href="">Features</a></li>
                          <li><a href="">Pricing</a></li>
                          <li class="flex flex-row items-center">
                            <a href="">Help center</a><img src="/images/rightUpIcon.png" class="w-4 h-4" alt="Icon" />
                          </li>
                          <li class="flex flex-row items-center"><a href="">Sora login</a><img src="/images/rightUpIcon.png" class="w-4 h-4" alt="Icon" /> </li>
                        </ul>
                      </div>
                      <div class="flex flex-col space-y-4">
                        <h1 class="text-[#999]">Explore more</h1>
                        <ul class="space-y-4 text-md">
                          <li><a href="">Open AI for business</a></li>
                          <li><a href="">Stories</a></li>
                        </ul>
                      </div>
                      <div class="flex flex-col space-y-4 w-52 h-24">
                        <video autoplay muted loop playsinline class="rounded-lg">
                          <source src="images/ProductsVideo.mp4" type="video/mp4" />
                          Your browser does not support the video tag.
                        </video>
                        <h3>OpenAI o1 Hub</h3>
                      </div>
                    </div>
                  </section>
                </div>
              </li>
              <li id="link3" class="nav-item cursor-pointer transition-colors duration-500 text-white">Safety</li>
              <li id="linkExternal" class="nav-item hover:cursor-pointer transition-colors duration-500 text-white group relative">
                Company
                <div
                  id="dropDownLinkExternal"
                  class="dropdown opacity-0 cursor-default transform scale-y-0 bg-[#222] origin-top top-24 rounded-lg -left-[90%] fixed pt-8 px-36 backdrop-blur-3xl h-[calc(100vh-9vh)] group-hover:opacity-100 group-hover:scale-y-100 transition-all duration-700 ease-in-out z-10 w-screen overflow-x-hidden flex flex-col"
                >
                  <section>
                    <div class="flex flex-row justify-between gap-6 pt-4 text-white text-sm font-[inter] h-auto">
                      <div class="flex flex-col space-y-4 text-white">
                        <h1>About us</h1>
                        <ul class="space-y-4 text-md">
                          <li><a href="">Our Charter</a></li>
                          <li><a href="">Residency</a></li>
                        </ul>
                      </div>
                      <div class="flex flex-col space-y-4">
                        <h1>News</h1>
                        <ul class="space-y-4 text-md">
                          <li><a href="">Security and Privacy</a></li>
                          <li><a href="">Careers</a></li>
                        </ul>
                      </div>
                      <div class="flex flex-col space-y-4 w-52 h-24">
                        <img src="/images/o1-research.webp" class="rounded-lg object-cover size-full" alt="" />
                        <h3>OpenAI o1 Hub</h3>
                      </div>
                    </div>
                  </section>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Right Side (Search Icon) -->
        <div class="rightLinks cursor-pointer hidden sm:block">
          <img src="/images/searchIcon.png" class="w-4 h-4 hover:scale-110 hover:rotate-90 transition-transform duration-300 ease-out" alt="Search Icon" />
        </div>
      </div>
    </nav>
    <!-- Navbar -->
    <!-- Hero section -->
    <main class="bg-black h-full pt-4 border-t border-t-gray-700">
      <div class="heroSection flex justify-between items-center text-white overflow-x-scroll sm:overflow-hidden pb-4 px-4 sm:px-4 md:px-16 lg:px-36">
        <div class="leftHeading">
          <h1 class="mr-8 lg:mr-0 font-bold text-[14px] pr-8 border-r border-r-white sm:border-0 lg:text-sm">ChatGPT</h1>
        </div>
        <ul class="items text-[12px] lg:text-sm font-[inter] text-gray-400 flex space-x-6">
          <li>
            <a href="#" class="hover:text-white text-white transition-colors duration-300 ease-in-out" aria-label="Overview">Overview</a>
          </li>
          <li><a href="/components/team.html" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Team">Team</a></li>
          <li><a href="enterprise.html" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Enterprise">Enterprise</a></li>
          <li><a href="#" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Education">Education</a></li>
          <li><a href="#" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Pricing">Pricing</a></li>
        </ul>
      </div>

      <div class="midAlign text-white flex justify-center items-center flex-col">
        <div class="components font-medium text-center m-4">
          <h1 class="text-balance text-4xl lg:text-6xl pt-20 font-[inter] font-medium leading-tight"> Pricing </h1>
        </div>
        <!-- Pricing section -->
        <section class="font-[inter]">
          <div class="bg-black">
            <div id="pricingBoxes" class="pricingBoxes px-6 sm:px-6 lg:px-36 flex flex-col sm:flex-col lg:flex-row gap-4 w-full mt-14 p-4"></div>
          </div>
          <div class="max-w-5xl w-full h-[550px] mb-20 px-6 sm:px-0 mx-auto rounded-xl grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="box1 w-full bg-[#1a1a1a] space-y-4 p-8 rounded-xl">
              <h1 class="text-lg">Team</h1>
              <h3><span class="text-2xl">25$</span> per user / month billed annually</h3>
              <h3><span class="text-2xl">30$</span> per user / month billed monthly</h3>
              <p class="text-sm">Supercharge your team’s work with a secure, collaborative workspace</p>
              <button class="border-none text-sm rounded-3xl text-md py-2 px-6 font-bold bg-white text-black">Get Team</button>
              <ul class="space-y-4 text-sm pt-4">
                <li
                  ><span class="pr-4">✔</span>Higher message limits than Plus on GPT-4, GPT-4o, and tools like DALL·E, web browsing, data analysis, and more</li
                >
                <li><span class="pr-4">✔</span>Limited access to o1 and o1-mini </li>
                <li><span class="pr-4">✔</span>Standard and advanced voice mode </li>
                <li><span class="pr-4">✔</span>Create and share GPTs with your workspace </li>
                <li><span class="pr-4">✔</span>Admin console for workspace management</li>
                <li><span class="pr-4">✔</span>Team data excluded from training by default. <span class="underline">Learn more</span></li>
              </ul>
            </div>
            <div class="box2 w-full bg-[#1a1a1a] space-y-4 p-8 rounded-xl">
              <h1 class="text-lg">Enterprise</h1>
              <h3>Enable your workforce with enterprise-grade AI</h3>
              <button class="border-none rounded-3xl text-md py-2 px-6 font-bold bg-white text-black">Contact Sales</button>
              <ul class="space-y-4 text-sm pt-4">
                <li><span class="pr-4">✔</span>Everything in Team</li>
                <li>
                  <span class="pr-4">✔</span>
                  High speed access to GPT-4, GPT-4o, GPT-4o mini, and tools like DALL·E, web browsing, data analysis, and more
                </li>
                <li><span class="pr-4">✔</span>Expanded context window for longer inputs </li>
                <li><span class="pr-4">✔</span>Enterprise data excluded from training by default & custom data retention windows. Learn more </li>
                <li><span class="pr-4">✔</span>Admin controls, domain verification, and analytics</li>
                <li><span class="pr-4">✔</span>Enhanced support & ongoing account management </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- Pricing section -->
      </div>
    </main>
    <!-- Hero section -->
    <section class="h-[100vh] font-[inter]">
      <div class="flex justify-center flex-col items-center">
        <h1 class="text-2xl sm:text-4xl text-white font-medium">Compare features across plans</h1>
      </div>
      <div class="mx-auto pt-6 max-w-5xl sticky top-0">
        <div class="h-32 bg-[#1a1a1a] grid grid-cols-5 gap-0 p-8 text-white">
          <div class="Free space-y-2">
            <h1 class="text-left">Free</h1>
            <button class="border-none rounded-3xl text-md py-2 px-6 text-sm bg-white text-black">Get Free</button>
          </div>
          <div class="Plus space-y-2">
            <h1 class="text-left">Plus</h1>
            <button class="border-none rounded-3xl text-md py-2 px-6 text-sm bg-white text-black">Get Plus</button>
          </div>
          <div class="Pro space-y-2">
            <h1 class="text-left">Pro</h1>
            <button class="border-none rounded-3xl text-md py-2 px-6 text-sm bg-white text-black">Get Pro</button>
          </div>
          <div class="Team space-y-2">
            <h1 class="text-left">Team</h1>
            <button class="border-none rounded-3xl text-md py-2 px-6 text-sm bg-white text-black">Get Team</button>
          </div>
          <div class="Enterprise space-y-2">
            <h1 class="text-left">Enterprise</h1>
            <button class="border-none rounded-3xl text-md py-2 px-6 text-sm bg-white text-black">Contact sales</button>
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-5xl pt-4">
        <div class="bg-[#1a1a1a] rounded-lg p-20">
          <h1 class="text-xl font-semibold text-white mb-6">Essentials</h1>
          <div class="grid grid-cols-6 py-6 gap-1">
            <div class="text-white space-y-4 border-r border-[#333]">
              <p>Messages and interactions</p>
              <p>Chat history</p>
              <p>Access on web, iOS, Android</p>
            </div>
            <div class="text-white text-center space-y-10 border-r border-[#333]">
              <p>Unlimited</p>
              <p>Unlimited</p>
              <p>&#10003;</p>
            </div>
            <div class="text-white text-center space-y-10 border-r border-[#333]">
              <p>Unlimited</p>
              <p>Unlimited</p>
              <p>&#10003;</p>
            </div>
            <div class="text-white text-center space-y-10 border-r border-[#333]">
              <p>Unlimited</p>
              <p>Unlimited</p>
              <p>&#10003;</p>
            </div>
            <div class="text-white text-center space-y-10 border-r border-[#333]">
              <p>Unlimited</p>
              <p>Unlimited</p>
              <p>&#10003;</p>
            </div>
            <div class="text-white text-center space-y-10">
              <p>Unlimited</p>
              <p>Unlimited</p>
              <p>&#10003;</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-5xl pt-4">
        <div class="bg-[#1a1a1a] rounded-lg p-20">
          <h1 class="text-xl font-semibold text-white mb-6">Model Quality</h1>
          <div class="grid grid-cols-6 py-6 gap-1 text-sm">
            <div class="text-white h-full space-y-8 border-r border-[#333]">
              <p>GPT-4o mini</p>
              <p>GPT-4o</p>
              <p>GPT-4 access</p>
              <p>OpenAI o1</p>
              <p>OpenAI o1-mini</p>
              <p>OpenAI o1 pro mode</p>
              <p>Response times</p>
              <p>Context window</p>
              <p>Regular quality & speed updates as models improve</p>
            </div>
            <div class="text-white text-center flex justify-start h-full items-center flex-col space-y-8 border-r border-[#333]">
              <p>Unlimited</p>
              <p>Limited</p>
              <p>.</p>
              <p>.</p>
              <p>.</p>
              <p>.</p>
              <p>Limited</p>
              <p>8K</p>
              <p>✔</p>
            </div>
            <div class="text-white text-center flex justify-start h-full items-center flex-col space-y-8 border-r border-[#333]">
              <p>Unlimited</p>
              <p>Upto 5x free</p>
              <p>Standard</p>
              <p>Standard</p>
              <p>Standard</p>
              <p>.</p>
              <p>Fast</p>
              <p>32k</p>
              <p>✔</p>
            </div>
            <div class="text-white text-center flex justify-start h-full items-center flex-col space-y-8 border-r border-[#333]">
              <p>Unlimited</p>
              <p>Unlimited*</p>
              <p>Unlimited</p>
              <p>Unlimited*</p>
              <p>Unlimited</p>
              <p>✔</p>
              <p>Fast</p>
              <p>128k</p>
              <p>✔</p>
            </div>
            <div class="text-white text-center flex justify-start h-full items-center flex-col space-y-8 border-r border-[#333]">
              <p>Unlimited</p>
              <p>Expanded</p>
              <p>Expanded</p>
              <p>Standard</p>
              <p>Standard</p>
              <p>.</p>
              <p>32k</p>
              <p>✔</p>
            </div>
            <div class="text-white text-center flex justify-start h-full items-center flex-col space-y-8">
              <p>Unlimited</p>
              <p>Expanded</p>
              <p>Expanded</p>
              <p>Standard</p>
              <p>Standard</p>
              <p>.</p>
              <p>Fastest</p>
              <p>128k</p>
              <p>✔</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="pricing.js"></script>
  </body>
</html>
