<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatGPT for teams | OpenAI</title>
    <link rel="shortcut icon" href="images/favicon_io/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black font-[inter] selection:bg-white selection:text-black">
    <nav>
      <div class="navbar flex justify-between items-center h-12 bg-black px-36">
        <div class="leftside flex items-center space-x-2">
          <h1 class="leftHeading text-white text-lg font-medium">OpenAI</h1>
        </div>
        <div class="midLinks text-white">
          <ul class="flex space-x-8">
            <li class="cursor-pointer">Research</li>
            <li class="cursor-pointer">Products</li>
            <li class="cursor-pointer">Safety</li>
            <li class="cursor-pointer">Company</li>
          </ul>
        </div>
        <div class="rightLinks cursor-pointer hidden sm:block">
          <img src="componentImages/searchIcon.png" class="w-4 h-4 hover:scale-110 hover:rotate-90 transition-transform duration-300 ease-out" alt="Search Icon" />
        </div>
      </div>
    </nav>
    <main class="bg-black h-[calc(100vh-3rem)] pt-4 border-t border-t-gray-700">
      <div class="heroSection flex justify-between items-center text-white overflow-x-scroll sm:overflow-hidden pb-4 px-4 sm:px-4 md:px-16 lg:px-36">
        <div class="leftHeading">
          <h1 class="mr-8 lg:mr-0 font-bold text-[14px] pr-8 border-r border-r-white sm:border-0 lg:text-sm">ChatGPT</h1>
        </div>
        <ul class="items text-[12px] lg:text-sm font-[inter] text-gray-400 flex space-x-6">
          <li>
            <a href="#" class="hover:text-white text-white transition-colors duration-300 ease-in-out" aria-label="Overview">Overview</a>
          </li>
          <li><a href="team.html" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Team">Team</a></li>
          <li><a href="#" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Enterprise">Enterprise</a></li>
          <li><a href="#" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Education">Education</a></li>
          <li><a href="#" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Pricing">Pricing</a></li>
        </ul>
      </div>

      <div class="midAlign text-white flex justify-center items-center flex-col h-[60vh] lg:h-[80vh]">
        <h3 class="font-semibold">ChatGPT Team</h3>
        <div class="components font-medium text-center m-4">
          <h1 class="text-3xl lg:text-5xl font-[inter] font-semibold">
            An always-improving superassistant
            <span class="block text-center">for every member of your team</span>
          </h1>

          <p class="font-[inter] text-sm lg:text-xl mt-6">
            Generate better code, craft emails, analyze data, and
            <span class="block">supercharge any type of work in a collaborative team workspace. </span>
          </p>
        </div>
        <div class="flex justify-center items-center flex-col gap-4 lg:flex-row mt-6 space-x-6">
          <div class="button border-2 border-white px-6 p-2 bg-white text-black rounded-full">
            <button class="flex flex-row space-x-4">
              Start now
              <img src="componentImages/rightUpIcon.png" class="w-6 h-6" alt="" />
            </button>
          </div>
          <div class="text cursor-pointer">
            <p class="hover:border-b-2 border-b-2 border-transparent hover:border-gray-200 transition-all duration-500 ease-out"> Download the app > </p>
          </div>
        </div>
      </div>
    </main>
    <div class="Box flex h-screen items-center mx-auto justify-center text-white">
      <div class="w-[500px] h-[500px]">
        <img id="image-box" src="componentImages/01_team_workspace.webp" class="rounded-xl rounded-tr-none rounded-br-none w-full h-full object-cover" alt="Team Workspace" />
      </div>
      <div class="w-[500px] h-[500px] p-6 bg-[#1a1a1a] rounded-xl rounded-tl-none rounded-bl-none bg-opacity-80 flex justify-center items-start px-14 flex-col">
        <div class="rowPrimary border-b border-[#333] py-2">
          <div class="flex flex-row justify-between items-center">
            <h2 class="text-md text-left justify-start font-semibold">Secured for your workspace</h2>
            <span class="text-xl cursor-pointer justify-end" data-target="rowTextPrimary">+</span>
          </div>
          <p class="rowTextPrimary text-sm text-[#777] flex">
            Get a dedicated workspace for your team with admin controls, team management, and stringent security. We never train on your data or conversations.
          </p>
        </div>

        <div class="rowSecondary border-b border-[#333] py-2">
          <div class="flex flex-row justify-between items-center">
            <h2 class="text-md text-left font-semibold inline-block">Advanced models & capabilities</h2>
            <span class="text-xl cursor-pointer" data-target="rowTextSecondary">+</span>
          </div>
          <p class="rowTextSecondary text-sm text-[#777] hidden">
            Consistent access to the most powerful OpenAI models and advanced capabilities like DALL·E for image generation, web browsing, data analysis, and more.
          </p>
        </div>

        <div class="rowTernary border-b border-[#333] py-2">
          <div class="flex flex-row justify-between items-center">
            <h2 class="text-md text-left font-semibold inline-block">Customized for your team</h2>
            <span class="text-xl cursor-pointer" data-target="rowTextTernary">+</span>
          </div>
          <p class="rowTextTernary text-sm text-[#777] hidden">
            Collaborate by creating and sharing GPTs — custom versions of ChatGPT for specific use cases, departments, or proprietary datasets.
          </p>
        </div>

        <div class="rowExternary border-b border-[#333] py-2">
          <div class="flex flex-row justify-between items-center">
            <h2 class="text-md text-left font-semibold">Designed to support any task or project</h2>
            <span class="text-lg cursor-pointer" data-target="rowTextExternary">+</span>
          </div>
          <p class="rowTextExternary text-sm text-[#777] hidden">
            From writing to coding, ChatGPT can help with quick tasks and ongoing projects. With projects, keep files, chats, and instructions in one place to maintain context as
            you work.
          </p>
        </div>
      </div>
    </div>
    <div class="rowBoxesContainer h-auto mt-20">
      <div class="flex justify-center items-center flex-col text-white">
        <h1 class="text-4xl font-semibold mb-6">Supercharge your team's performance</h1>
        <div class="rowBoxes flex justify-center px-2 max-w-3xl w-full h-14 rounded-xl">
          <ul class="flex flex-row items-center justify-center gap-4">
            <button class="bg-white text-black px-6 py-2 rounded-2xl text-sm initial-button transition duration-300" id="analyzeData">
              <a href="#">Analyze Data</a>
            </button>

            <button class="text-white hover:bg-[#333] origin-right px-4 py-2 rounded-2xl text-sm transition duration-300" id="accelerateCoding">
              <a href="#">Accelerate Coding</a>
            </button>

            <button class="text-white hover:bg-[#333] origin-right px-4 py-2 rounded-2xl text-sm transition duration-300" id="generateContent">
              <a href="#">Generate Content</a>
            </button>

            <button class="text-white hover:bg-[#333] origin-right px-4 py-2 rounded-2xl text-sm transition duration-300" id="brainstormIdeas">
              <a href="#">Brainstorm Ideas</a>
            </button>
          </ul>
        </div>
        <div class="mt-6">
          <img id="displayImage" src="componentImages/rowBoxes/analyze_data_team_link.webp" alt="Dynamic Image" class="w-full max-w-5xl rounded-xl" />
        </div>
      </div>
    </div>
    <section>
      <div class="sixBoxesTextContainer min-h-[100vh] mt-20">
        <div class="sixBoxes flex justify-center items-center flex-col text-white text-4xl font-medium">
          <h1 class="sixBoxesHeading">Trusted by professionals <span class="block">at companies of all sizes</span></h1>
          <div class="sixBoxesRow flex justify-center px-2 max-w-3xl w-full h-20 rounded-xl">
            <ul class="flex flex-row items-center justify-center gap-4 mt-14">
              <button
                class="bg-white text-black px-6 py-2 rounded-2xl text-sm transition duration-300"
                data-header="ChatGPT creates personalized content, translates materials, and analyzes campaign performance, helping drive lead volume."
              >
                Marketing
              </button>

              <button
                class="text-white hover:bg-[#333] origin-right px-4 py-2 rounded-2xl text-sm transition duration-300"
                data-header="ChatGPT simplifies lead qualification and forecasting, and helps reps with account research and outreach for better sales efficiency."
              >
                Sales
              </button>

              <button
                class="text-white hover:bg-[#333] origin-right px-4 py-2 rounded-2xl text-sm transition duration-300"
                data-header="ChatGPT simplifies financial analyses, improves forecasting accuracy, and automates routine accounting tasks, ensuring compliance while reducing errors."
              >
                Finance
              </button>

              <button
                class="text-white hover:bg-[#333] origin-right px-4 py-2 rounded-2xl text-sm transition duration-300"
                data-header="ChatGPT handles admin tasks and suggests ways to improve processes, increasing operational efficiency."
              >
                Operations
              </button>

              <button
                class="text-white hover:bg-[#333] origin-right px-4 py-2 rounded-2xl text-sm transition duration-300"
                data-header="ChatGPT writes code, fixes bugs, and creates documentation to improve code integrity and help teams ship faster."
              >
                Engineering
              </button>

              <button
                class="text-white hover:bg-[#333] origin-right px-4 py-2 rounded-2xl text-sm transition duration-300"
                data-header="ChatGPT creates resources for candidates and employees and helps answer new hire questions."
              >
                HR
              </button>
            </ul>
          </div>
          <div class="Box flex h-screen items-center box-border justify-center mx-auto text-white">
            <div class="w-[500px] h-[500px]">
              <img
                id="image-box2"
                src="componentImages/01_team_workspace.webp"
                class="rounded-xl rounded-tr-none rounded-br-none w-full h-auto object-cover"
                alt="Team Workspace"
              />
            </div>

            <div class="w-[500px] h-[500px] p-6 bg-[#1a1a1a] rounded-xl rounded-tl-none rounded-bl-none bg-opacity-80 flex justify-center items-center px-14 flex-col">
              <div class="sixRowsPrimaryBox text-xl">
                <h1 id="dynamic-heading">
                  ChatGPT simplifies financial analyses, improves forecasting accuracy, and automates routine accounting tasks, ensuring compliance while reducing errors.
                </h1>
                <div class="sixRowsLink inline-block hover:border-b-2 border-b-2 border-transparent hover:border-gray-200 transition-all duration-500 ease-out">
                  <a href="https://chatgpt.com/#pricing" target="_blank" class="flex text-sm mt-4 flex-row items-center">
                    Start now
                    <img src="componentImages/rightUpIcon.png" class="h-4 w-4 ml-2" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="teamWorkWithGPT h-auto mb-28">
        <div class="teamWork text-white flex justify-center items-center flex-col mt-20">
          <h1 class="font-semibold text-4xl Teams do more, faster with ChatGPT">Secured for your workspace</h1>
          <div class="teamWorkCards flex flex-row max-w-5xl gap-4 h-52 w-full mt-16">
            <div class="cardPrimary flex-1 h-auto rounded-lg bg-[#1a1a1a] p-8">
              <h2 class="text-4xl font-medium">12.2%</h2>
              <div class="cardParagraph flex justify-start items-end h-full pb-8">
                <p class="text-center text-white font-semibold">more tasks completed</p>
              </div>
            </div>

            <div class="cardSecondary flex-1 rounded-lg bg-[#1a1a1a] p-8">
              <h2 class="text-4xl font-medium">25.1%</h2>
              <div class="cardParagraph flex justify-start items-end h-full pb-8">
                <p class="text-center text-white font-semibold">faster task completion</p>
              </div>
            </div>

            <div class="cardTernary flex-1 h-auto rounded-lg bg-[#1a1a1a] p-8">
              <h2 class="text-4xl font-medium">40%</h2>
              <div class="cardParagraph flex justify-start items-end h-full pb-8">
                <p class="text-center text-white font-semibold">higher quality work</p>
              </div>
            </div>
          </div>

          <div class="teamWorklinkHeading max-w-5xl w-full flex justify-start mt-8">
            <h1 class="text-[#666]">
              <span>↑ </span>
              <a href="https://www.hbs.edu/faculty/Pages/item.aspx?num=64700" target="_blank" class="underline">Harvard Business School.</a>
              Employees at Boston Consulting Group given access to GPT-4 compared to peers without access.
            </h1>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="usingChatGPT h-auto">
        <div class="usingChatGPTStyling text-white max-w-7xl mx-auto h-full">
          <div class="usingChatGPTWidth text-center w-full flex justify-center flex-col items-center">
            <h1 class="text-white text-3xl leading-tight">
              <span class="block text-3xl">“We use ChatGPT in almost every part of our business, from financial modeling</span>
              <span class="block text-[41px]">and communications to recruiting and note taking, and it’s</span>
              <span class="block text-5xl">accelerated everything we do.”</span>
            </h1>
            <p class="mt-4 text-sm">Connor O’Brien, VP of GTM Strategy & Operations, Sourcegraph</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="joinUsAIFrontier h-auto my-32">
        <div class="joinUsAI text-white max-w-7xl mx-auto h-full">
          <div class="text-center w-full flex justify-center flex-col items-center">
            <h1 class="text-4xl">Join us at the AI frontier</h1>
            <div class="icons select-none text-xl flex flex-row gap-8 mt-4">
              <p class="cursor-pointer prevButton">&#60;</p>
              <p class="cursor-pointer nextButton">&#62;</p>
            </div>
          </div>
          <div class="carousel-wrapper overflow-hidden relative">
            <div class="carousel flex gap-4 transition-transform duration-300 mt-10 ease-in-out" style="transform: translateX(0)">
              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">Product</h1>
                <h1 class="absolute bottom-0 p-4 text-white z-20">Introducing ChatGPT Enterprise</h1>
                <img src="componentImages/imageFrontierAICarousel/1.webp" class="transition duration-500 rounded-lg w-full h-full object-cover" alt="" />
              </div>

              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">ChatGPT Edu</h1>
                <h1 class="absolute bottom-0 p-4 text-white z-20">Bring AI to campus at scale</h1>
                <img src="componentImages/imageFrontierAICarousel/2.webp" class="rounded-lg w-full h-full object-cover" alt="" />
              </div>

              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">Story</h1>
                <h1 class="absolute bottom-0 p-4 text-white z-20">Developing life saving treatments</h1>
                <img src="componentImages/imageFrontierAICarousel/3.webp" class="rounded-lg w-full h-full object-cover" alt="" />
              </div>

              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">Story</h1>
                <h1 class="absolute bottom-0 w-full p-4 text-white z-20">Match Group uses ChatGPt Enterprise to spark creativity and impact</h1>
                <img src="componentImages/imageFrontierAICarousel/4.webp" class="rounded-lg w-full h-full object-cover" alt="" />
              </div>

              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">Story</h1>
                <h1 class="absolute bottom-0 w-full p-4 text-white z-20">Klarna is using AI to revolutionarize employee productivity and customer service</h1>
                <img src="componentImages/imageFrontierAICarousel/5.webp" class="rounded-lg w-full h-full object-cover" alt="" />
              </div>

              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">Story</h1>
                <h1 class="absolute bottom-0 w-full p-4 text-white z-20">Boost productivity across terms</h1>
                <img src="componentImages/imageFrontierAICarousel/6.webp" class="rounded-lg w-full h-full object-cover" alt="" />
              </div>

              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">Product</h1>
                <h1 class="absolute bottom-0 w-52 p-4 text-white z-20">Introducing Sora, our text-to-video model</h1>
                <img src="componentImages/imageFrontierAICarousel/7.webp" class="rounded-lg w-full h-full object-cover" alt="" />
              </div>

              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">Product</h1>
                <h1 class="absolute bottom-0 w-full p-4 text-white z-20">Navigating the challenge and opportunities of synthetic voices</h1>
                <img src="componentImages/imageFrontierAICarousel/8.webp" class="rounded-lg w-full h-full object-cover" alt="" />
              </div>

              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">Product</h1>
                <h1 class="absolute bottom-0 w-full p-4 text-white z-20">Introducing GPTs</h1>
                <img src="componentImages/imageFrontierAICarousel/9.webp" class="rounded-lg w-full h-full object-cover" alt="" />
              </div>

              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">Product</h1>
                <h1 class="absolute bottom-0 w-full text-md p-4 text-white z-20">Memory and new controls to ChatGPT</h1>
                <img src="componentImages/imageFrontierAICarousel/10.webp" class="z-[10] rounded-lg bg-black/40 w-full h-full object-cover" alt="" />
              </div>

              <div class="carousel-box w-full min-w-[350px] relative h-[500px]">
                <h1 class="text-white z-10 absolute p-4">Product</h1>
                <h1 class="absolute bottom-0 w-full p-4 text-white z-20">ChatGPT can now see, hear and speak</h1>
                <video class="w-full h-full object-cover rounded-lg" autoplay muted loop>
                  <source src="componentImages/imageFrontierAICarousel/11.mp4" type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="joinGPTSection h-[60vh]">
        <div class="joinGPT flex justify-center flex-col space-y-4 items-center flex-wrap h-80 rounded-lg bg-[#1a1a1a] mx-auto max-w-5xl">
          <h1 class="text-white text-3xl text-center"
            >Join thousands of teams redefining
            <span class="block">how they work with ChatGPT</span>
          </h1>
          <div class="button rounded-3xl bg-white px-6 py-2">
            <button class="flex flex-row space-x-4"> Start now </button>
          </div>
        </div>
      </div>
    </section>

    <script src="components.js"></script>
  </body>
</html>
