<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatGPT for teams | OpenAI</title>
    <link rel="shortcut icon" href="images/favicon_io/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black">
    <nav>
      <div class="navbar flex justify-between items-center h-12 bg-black px-36">
        <div class="leftside flex items-center space-x-2">
          <h1 class="leftHeading text-white text-lg font-medium">OpenAI</h1>
        </div>
        <div class="midLinks text-white">
          <ul class="flex space-x-8">
            <li class="cursor-pointer">Research</li>
            <li class="cursor-pointer">Products</li>
            <li class="cursor-pointer">Safety</li>
            <li class="cursor-pointer">Company</li>
          </ul>
        </div>
        <div class="rightLinks cursor-pointer hidden sm:block">
          <img src="componentImages/searchIcon.png" class="w-4 h-4 hover:scale-110 hover:rotate-90 transition-transform duration-300 ease-out" alt="Search Icon" />
        </div>
      </div>
    </nav>
    <main class="bg-black h-[calc(100vh-3rem)] pt-4 border-t border-t-gray-700">
      <div class="heroSection flex justify-between items-center text-white overflow-x-scroll sm:overflow-hidden pb-4 px-4 sm:px-4 md:px-16 lg:px-36">
        <div class="leftHeading">
          <h1 class="mr-8 lg:mr-0 font-bold text-[14px] pr-8 border-r border-r-white sm:border-0 lg:text-sm">ChatGPT</h1>
        </div>
        <ul class="items text-[12px] lg:text-sm font-[inter] text-gray-400 flex space-x-6">
          <li>
            <a href="#" class="hover:text-white text-white transition-colors duration-300 ease-in-out" aria-label="Overview">Overview</a>
          </li>
          <li><a href="team.html" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Team">Team</a></li>
          <li><a href="#" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Enterprise">Enterprise</a></li>
          <li><a href="#" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Education">Education</a></li>
          <li><a href="#" class="hover:text-white transition-colors duration-300 ease-in-out" aria-label="Pricing">Pricing</a></li>
        </ul>
      </div>

      <div class="midAlign text-white flex justify-center items-center flex-col h-[60vh] lg:h-[80vh]">
        <h3 class="font-semibold">ChatGPT Team</h3>
        <div class="components font-medium text-center m-4">
          <h1 class="text-3xl lg:text-5xl font-[inter] font-semibold">
            An always-improving superassistant
            <span class="block text-center">for every member of your team</span>
          </h1>

          <p class="font-[inter] text-sm lg:text-xl mt-6">
            Generate better code, craft emails, analyze data, and
            <span class="block">supercharge any type of work in a collaborative team workspace. </span>
          </p>
        </div>
        <div class="flex justify-center items-center flex-col gap-4 lg:flex-row mt-6 space-x-6">
          <div class="button border-2 border-white px-6 p-2 bg-white text-black rounded-full">
            <button class="flex flex-row space-x-4">
              Start now
              <img src="componentImages/rightUpIcon.png" class="w-6 h-6" alt="" />
            </button>
          </div>
          <div class="text cursor-pointer">
            <p class="hover:border-b-2 border-b-2 border-transparent hover:border-gray-200 transition-all duration-500 ease-out"> Download the app > </p>
          </div>
        </div>
      </div>
    </main>
    <div class="Box flex h-screen items-center justify-center text-white">
      <div class="w-[500px] h-[550px] border-2 ml-36 relative">
        <img id="image-box" src="componentImages/01_team_workspace.webp" class="w-full h-full object-cover" alt="Team Workspace" />
      </div>
      <div class="w-[500px] h-[550px] border-white border-2 mr-36 p-6 bg-[#1a1a1a] bg-opacity-80 flex justify-center items-start px-14 flex-col">
        <div class="rowPrimary border-b border-[#333] py-2">
          <div class="flex flex-row justify-between items-center">
            <h2 class="text-md text-left justify-start font-semibold">Secured for your workspace</h2>
            <span class="text-xl cursor-pointer justify-end" data-target="rowTextPrimary">+</span>
          </div>
          <p class="rowTextPrimary text-sm text-[#777] flex">
            Get a dedicated workspace for your team with admin controls, team management, and stringent security. We never train on your data or conversations.
          </p>
        </div>

        <div class="rowSecondary border-b border-[#333] py-2">
          <div class="flex flex-row justify-between items-center">
            <h2 class="text-md text-left font-semibold inline-block">Advanced models & capabilities</h2>
            <span class="text-xl cursor-pointer" data-target="rowTextSecondary">+</span>
          </div>
          <p class="rowTextSecondary text-sm text-[#777] hidden">
            Consistent access to the most powerful OpenAI models and advanced capabilities like DALL·E for image generation, web browsing, data analysis, and more.
          </p>
        </div>

        <div class="rowTernary border-b border-[#333] py-2">
          <div class="flex flex-row justify-between items-center">
            <h2 class="text-md text-left font-semibold inline-block">Customized for your team</h2>
            <span class="text-xl cursor-pointer" data-target="rowTextTernary">+</span>
          </div>
          <p class="rowTextTernary text-sm text-[#777] hidden">
            Collaborate by creating and sharing GPTs — custom versions of ChatGPT for specific use cases, departments, or proprietary datasets.
          </p>
        </div>

        <div class="rowExternary border-b border-[#333] py-2">
          <div class="flex flex-row justify-between items-center">
            <h2 class="text-md text-left font-semibold">Designed to support any task or project</h2>
            <span class="text-lg cursor-pointer" data-target="rowTextExternary">+</span>
          </div>
          <p class="rowTextExternary text-sm text-[#777] hidden">
            From writing to coding, ChatGPT can help with quick tasks and ongoing projects. With projects, keep files, chats, and instructions in one place to maintain context as
            you work.
          </p>
        </div>
      </div>
    </div>
    <script src="components.js"></script>
  </body>
</html>
